@using CS.Example.Common.Models
@{
    ViewBag.Title = "Listado de usuarios";
}

@model CS.Example.Common.Models.UsuarioModel

<h1>Listado de usuarios</h1>

<p>
    <a asp-action="Create">Agregar nuevo usuario</a>
</p>
<table class="table">
    <thead>
        <tr>         
            <th>
                Nombre completo
            </th>         
            <th>
                Salario
            </th>
            <th>
                CURP
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Fecha Creación
            </th>
            <th>
                Fecha Actualización
            </th>          
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Usuarios ?? new List<Usuario>()) {
            <tr>
              
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCompleto)
                </td>             
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Curp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaActualizacion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Detalle", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
    }
    </tbody>
</table>
